<html>
<head>
	</head>
	<body>
		<form action="/rest/update" method="post">
			<input type= "text" name="username" placeholder="Username"/>
			<input type= "text" name="email" placeholder="email"/>
			<input type="number" name="mobile"/>
			<input type="submit" name="Submit"/>
		</form>
	</body>
</html>